<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="/assets/fontawesome-free-6.7.2/css/all.min.css">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>


<!-- Navbar -->
<nav class="navbar navbar-expand-lg bg-secondary" id="homepage_nav">
    <div class="container">
        <!-- Logo & Title -->
        <a class="navbar-brand d-flex align-items-center text-white" href="#">
            <i class="fa-solid fa-car me-2"></i>
            <span class="fw-bold text-white">Rent a car today!</span>
        </a>

        <!-- Nút menu trên mobile -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Menu -->
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav TEX">
                <li class="nav-item">
                    <a class="nav-link text-white" href="#">| ABOUT US |</a>
                </li>

                <!--Change the icon when log in-->
                    <li class="nav-item" id="nav_sign">
                        <a class="nav-link text-white" href="#" data-bs-toggle="modal" data-bs-target="#registerModal">
                            <i class="fa-solid fa-user text-white"></i> SIGN UP |
                        </a>
                    </li>
                    <li class="nav-item" id="nav_log">
                        <a class="nav-link text-white" href="#" data-bs-toggle="modal" data-bs-target="#loginModal">
                            <i class="fa-solid fa-right-to-bracket text-white"></i> LOGIN
                        </a>
                    </li>



                <li class="nav-item dropdown" id="nav_user">
                    <a id="toggleMenu" class="nav-link text-white" href="#" onclick="toggleMenu(event)">
                        <i class="fa-solid fa-user"></i> <span id="userInfo"></span>
                        <i class="fa-solid fa-bars"></i>
                    </a>
                    <ul id="userMenu" class="dropdown-menu" style="display: none;">
                        <li><a class="dropdown-item" href="#" onclick="showProfile()">My Profile</a></li>
                        <li id="booking_item"><a class="dropdown-item" href="#" onclick="showBooking()">My Bookings</a></li>
                        <li><a class="dropdown-item" href="#" onclick="showWallet()">My Wallets</a></li>
                        <li id="car_item"><a class="dropdown-item" href="#" onclick="showCar()">My Cars</a></li>
                        <li id="report_item"><a class="dropdown-item" href="#" onclick="showReport()">My Reports</a></li>
                        <li><a class="dropdown-item text-danger" href="#" onclick="logoutUser()">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<hr style="border-top: 0.5px solid #ddd; margin: 5px 0;">

<!-------------------------------------------------------------------------------------- Modal ----------------------------------------------------------------------------------------------------->
<div class="modal fade" id="registerModal" tabindex="-1" aria-labelledby="registerModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h5 class="modal-title" id="registerModalLabel">Create an Account</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <!-- Modal Body -->
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <label class="form-label">Your Email</label>
                        <input type="email" class="form-control" placeholder="Enter your email" id="emailRegister">
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <label class="form-label">Password</label>
                            <input type="password" class="form-control" placeholder="Pick a password" id="passwordRegister">
                        </div>
                        <div class="col-md-6">
                            <label class="form-label">Confirm Password</label>
                            <input type="password" class="form-control" placeholder="Confirm password" id="confirmPasswordRegister">
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Name</label>
                        <input type="text" class="form-control" placeholder="Enter your full name" id="nameRegister">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Phone Number</label>
                        <input type="tel" class="form-control" placeholder="Enter your phone number" id="phoneNoRegister">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Role</label>
                        <select id="roleRegister">
                            <option value="customer">Customer</option>
                            <option value="car owner">Car Owner</option>
                        </select>
                    </div>
                    <div class="mb-3 form-check">
                        <input type="checkbox" class="form-check-input" id="termsCheck">
                        <label class="form-check-label text-primary text-decoration-underline" for="termsCheck">I agree to the Terms and Conditions</label>
                    </div>
                    <button type="submit" class="btn btn-primary w-100" onclick="registerUser(event)">Sign Up</button>
                </form>
            </div>

        </div>
    </div>
</div>

<!-- Login Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-csentered">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h5 class="modal-title" id="loginModalLabel">LOG IN USING YOUR ACCOUNT</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <!-- Modal Body -->
            <div class="modal-body">
                <form id="loginForm">
                    <div class="mb-3">
                        <label class="form-label">Your Email</label>
                        <input id="email" type="email" class="form-control" placeholder="Your email address" required>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Password</label>
                        <input id="password" type="password" class="form-control" placeholder="Password" required>
                    </div>
                    <div class="mb-3 text-end">
                        <a href="#" class="text-primary text-decoration-underline" style="font-style: italic; font-size: small;">Forgot the password?</a>
                    </div>
                    <button type="submit" class="btn btn-primary w-100" onclick="loginUser()">LOGIN IN</button>
                    <p id="message"></p>
                </form>
            </div>
        </div>
    </div>
</div>